/*header*/
  .main-header * {
    position: relative;
    z-index: 2;
  }

  .main-header {
    position: relative;
    background: url('../images/navbar-image.jpg') no-repeat center center/cover;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: white;
  }

  .main-header::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
/*body*/
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #222;
  }

  h1{
    color: #ffffff;
  }

  h2, h3 {
    color: #333;
  }
  
  .btn-dark {
    background-color: #222;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #000;
  }

/*navigation bar*/

.nav-item{
  font-weight: 600;
}

.navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
  position: relative;
  color: white !important;
}
.navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar-nav .nav-link:hover {
  color: #f0f0f0 !important;
}

/*footer*/

.footer{
  position: relative;
  width: 100%;
  background: url('../images/footer-img-1.jpg') no-repeat center center/cover;
  bottom: 0;
  color: white;
  background-size: 100% 100%;
}

/*main*/

.main-bg-img{
  margin: 0;
  min-height: 400px;
  position: relative;
  background: url('../images/body-bg-img.jpg') no-repeat center center/cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: black;
  background-size: 100% 100%;
  text-align: center;
}